body {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  color: rgb(136, 146, 176);
  background-color: rgb(10, 25, 47);
  font-size: 20px;
  margin: 0px;
}
h1,
h3 {
  color: white;
}
span {
  color: #64ffda;
}
.btn {
  padding: 18px 45px;
  background-color: rgb(10, 25, 47);
  border: 2px solid #64ffda;
  color: #64ffda;
  font-size: 15px;
}
/*              header                    */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.header {
  width: 100%;
  height: 120px;
  display: block;
  background-color: rgb(10, 25, 47);
}
.inner_header {
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.logo {
  height: 100%;
  width: 100px;
  display: table;
  float: left;
  /* background-color: white; */
}
/* .logo img {
  width: 100px;
} */
.logo h1 {
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.logo h1:hover {
}

.nav {
  float: right;
  height: 100%;
}

.nav a {
  height: 100%;
  display: table;
  float: left;
  padding: 13px 20px;
  font-size: 15px;
}

.nav a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: #64ffda;
}

/*         container          */
.container {
  /* width: 100%; */
  max-width: 1000px;
  /* margin-top: 90px; */
  padding: 0px 150px;
}
.inner_container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 150px;

  background-color: rgb(10, 25, 47);
  display: flex;
  flex-direction: column;
  /* align-items: center;
  text-align: center;
  justify-content: center; */
}

/*           footer            */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;

  width: 100%;
  margin-block-start: 1000px;
  /* margin-bottom: 100px; */
  display: block;
  overflow: hidden;
  padding: 100px 100px 0px 100px;
  box-sizing: border-box;
  background-color: rgb(10, 25, 47);
  /* background-color: seashell; */
}
.inner_footer {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 80%;
}
.inner_footer .footer_third h1 {
  color: azure;
  padding-bottom: 20px;
  grid-gap: 20px;
  display: block;
}
.inner_footer .footer_third a {
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 5px;
}
.inner_footer .footer_third {
  float: left;
  margin-right: 30px;
  width: 20%;
}
